<div class="container" >
  <div class="row">
    <div id="content-left" class="content-area col-md-6 col-xs-12">
      <div class ="content-box">
        <h2 class="content-box-head">エラーの調べ方</h2>
        <div class="content-box-body position-center margin-expand">
          <h3>キーワードで検索しよう</h4>
          <p class="display-pc">
            画面上部にある検索欄を使ってみましょう。<br/>
            キーワードを入力してサーチアイコンをクリックすると<br/>
            左に関連するエラー記事、右にストーリーがそれぞれ表示されます。<br/>
            (何も入力せずにサーチアイコンをクリックすると、最新記事が表示)<br/>
          </p>
          <p class="display-mobile">
            画面下部にある検索欄を使ってみましょう。
            キーワードを入力してサーチアイコンをタップすると
            ページ1にエラー記事、ページ2にストーリーがそれぞれ表示されます。
          </p>
          <h3>エラー記事やストーリーを追加しよう</h4>
          <p>
            ログインすると、エラー記事の追加や編集ができるだけでなく、<br/>
            あなた自身のストーリーを投稿できます。<br/>
          </p>
        </div>
      </div>
    </div>


    <div id="content-right" class="content-area col-md-6">
      <div class ="content-box">
        <h2 class ="content-box-head">LiBRORRE活用する</h2>
        <div class="content-box-body position-center margin-expand">
          <h3>マイライブラリを活用しよう</h3>
          <p class="display-pc">
            気になったストーリーや、繰り返し読み返したいストーリーは<br/>
            「ライブラリに追加」ボタンで、マイライブラリに追加できます。<br/>
            画面上部にある「ライブラリ」をクリックすると<br/>
            ライブラリに追加したストーリーと、自分が作成したストーリーを<br/>
            一覧で閲覧することができます。
          </p>
          <p class="display-mobile">
            気になったストーリーや、繰り返し読み返したいストーリーは、
            「ライブラリに追加」ボタンで、マイライブラリに追加できます。
            画面上部にある「ライブラリ」をクリックすると、
            ページ1でライブラリに追加したストーリーを閲覧でき、
            ページ2で自分が作成したストーリーを確認することができます。
          </p>
          <h3>ストーリーについてトークしよう</h4>
          <p class="display-pc">
            ログインすると、ストーリーについてトークすることができます。<br/>
            各ストーリーごとにトークルームが設けられ<br/>
            自由に議論したり、感想を伝えたりすることができます。<br/>
          </p>
          <p class="display-mobile">
            気になったストーリーや、繰り返し読み返したいストーリーは、
            「ライブラリに追加」ボタンで、マイライブラリに追加できます。
            画面上部にある「ライブラリ」をクリックすると、
            ページ1でライブラリに追加したストーリーを閲覧でき、
            ページ2で自分が作成したストーリーを確認することができます。
          </p>
        <div class="content-box-body position-center">
        </div>
      </div>
    </div>

  </div>
</div>