<div class="row">
  <div id="content-left" class="content-area col-md-12 col-xs-12">
    <div class ="content-box">
      <h2 class="content-box-head">
        ストーリーのデータ変換
      </h2>
      <div class="content-box-body">
        <p>ストーリーのコンテンツデータをマークダウン形式に変換します。<br/>
        変換を始める場合は、「ストーリーの変換」を押してください。</p>
      </div>

      <div class="content-box-foot">
        <%= link_to(convert_story_path) do %>
          <div class="btn btn-half">ストーリーの変換</div>
        <% end %>
      </div>
    </div>
  </div>
</div>