<% if user_signed_in? %>
<div>
  <% if story.added_to_library?(current_user) %>
    <%= link_to(story_libraries_path(story.id), method: :delete, remote: true) do %>
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      ライブラリから削除
    <% end %>
  <% else %>
    <%= link_to(story_libraries_path(story.id), method: :post, remote: true) do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      ライブラリへ追加
    <% end %>
  <% end %>
</div>
<% end %>