<% if user_signed_in? %>
<div>
  <% if story.added_to_library?(current_user) %>
    <%= link_to(story_libraries_path(story.id), method: :delete, remote: true) do %>
      <img class="btn-image" src="/images/minus.png" alt="追加" width="14" height="14">ライブラリから削除
    <% end %>
  <% else %>
    <%= link_to(story_libraries_path(story.id), method: :post, remote: true) do %>
      <img class="btn-image" src="/images/plus.png" alt="追加">ライブラリへ追加
    <% end %>
  <% end %>
</div>
<% end %>