<div class="container" >
  <div class="row">
   <div id="content-left" class="content-area col-md-6 col-xs-12">
      <div class ="content-box">
        <h2 class="content-box-head">保存済みのストーリー</h2>
        <div id="stock" class="content-box-body">
          <%= render 'stock_list', libraries: @libraries %>
        </div>
        <!-- 次ページがある場合、「さらに表示」ボタンを表示 -->
        <% if @libraries.next_page %>
        <div id="more-stocks" class="content-box-hoot btn">
          <%= link_to_next_page @libraries, 'さらに10件表示', remote: true, id:"more-stocks" %>
        </div>
        <% end %>
      </div>
    </div>

    <div id="content-right" class="content-area col-md-6 col-xs-12">
      <div class ="content-box">
        <h2 class ="content-box-head">作成したストーリー</h2>
        <div id="library-stories" class="content-box-body story-lists">
          <%= render '/stories/story_list', stories: @stories %>
        </div>
        <% if @stories.next_page %>
        <!-- 次ページがある場合、「さらに表示」ボタンを表示 -->
        <div id="more-stories" class="content-box-hoot btn">
          <%= link_to_next_page @articles, 'さらに10件表示', remote: true, id:"more-stories" %>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>