<% stories.each do |story| %>
  <div class="content-list clearfix">
    <h4><%= link_to story.title, story_path(story) %> / <%= link_to story.user.name, user_path(story.user) %></h4>
    <p id="library-count-<%= story.id %>">
      <%= render partial: '/libraries/count', locals:{story: story} %>
    </p>
  </div>
<% end %>