<div class="container">
  <div class="row">
    <div class="content-area col-md-12 col-xs-12">
      <div class ="content-box">
        <h2 class="content-box-head">ストーリーの編集</h2>
        <div class="content-box-body">
          <%= render 'form', story: @story %>
        </div>
        <div class="content-box-foot">
        </div>
      </div>
    </div>
  </div>
</div>