/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break : break-all;
}

html, body {
  height: 100%;
}

a{
  color: black;
}

li{
  list-style: none;
}

/* Tag-itヘルプメッセージ非表示 */

.ui-helper-hidden-accessible {
  display: none;
}

/* ヘッダーメニュー関係 */

header{
  width: 95%;
  margin: 0 auto;
  height: 60px;
  padding: 5px 20px;
  border-bottom: solid 1px #D8D8D8;
  margin-bottom: 20px;
}

.header-logo{
  float: left;
  margin: 0;
  font-family: "economica","Meiryo","ヒラギノ角ゴ","sans-serif";
  color: white;
  background-color: #0B6138;
  line-height: 50px
}

.header-search{
  float: left;
}


.header-nav{
  float: right;
}

.header-nav-list{
  float: left;
  margin-right: 30px;
}

.header-nav-list:last-child{
  margin-right: 0;
}

.header-nav-icon{
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px 10px;
}

.header-nav-text{
  float:left;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

/* コンテンツエリア関係 */
.container{
  height: 87%;
}

.row, .content-area{
  height: 100%;
}


.content-area{
  padding: 0 10px;
}

.content-box{
  height: 100%;
  width: 100%;
  border: solid 1px #D8D8D8;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px #A4A4A4;
}

.content-box-head{
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #F5ECCE;
  color: #424242;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding: 10px;
}

.content-box-body{
  padding: 20px;
  margin: 44px auto 0 auto;
  height: 100%;
  overflow: scroll;
}

.content-box-foot{
  background-color: white;
  position: absolute;
  padding: 20px;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
}

.foot-left{
  float: left;
  padding: 6px;
  margin: 0 5px;
}
.foot-right{
  float: right;
  padding: 6px;
}

.body-textarea{
  width: 100%;
  height: 240px;
  resize: none;
}

.foot-textarea{
  width: 70%;
  height: 60px;
  float: left;
  resize: none;
}

.foot-not-active{
  color: #A4A4A4;
}

/* リスト関係 */

.content-list, .story-list, .comment-list{
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px #BDBDBD;
}

.content-list:hover, .story-list:hover, .comment-list:hover{
  background-color: #FAFAFA;
}

.content-list:last-child, .story-list:last-child, .comment-list:last-child{
  width: 100%;
  border-bottom: none;
}

/* ボタン関係 */

.btn{
  background-color: #088A68;
  color: white;
}

.btn:hover{
  background-color: #516B59;
  color: white;
}

.btn-wide{
  width: 90%;
  float: none;
  margin: 5px auto;
}

.btn-half{
  width: 40%;
  float: left;
  margin: 5px 5%;
}

.btn-sub, .btn-sub > a{
  background-color: #8A4B08;
  color: white;
}

.btn-sub:hover, .btn-sub > a:hover{
  background-color: #DBA901;
}

.btn-sub2, .btn-sub2 > a{
  background-color: #CEF6E3;
  color: black;
}

.btn-add{
  background-color: #A9D0F5;
  margin: 5px;
  color: #585858;
}

.btn-add:hover{
  background-color: #E0ECF8;
}

.btn-remove{
  background-color: #F6CECE;
  margin: 5px;
  color: #585858;
}

.btn-remove:hover{
  background-color: #F8E0E0;
}

.btn-comment-submit{
  float: left;
  height: 60px;
  width: 20%;
  margin-left: 5px;
}

.btn-image{
  width: 14px;
  height: 14px;
}


/* ポジション指定 */
.position-center{
  text-align: center;
}

/* JS・Ajax関連レイアウト */

#user-menu > ul{
  position: relative;
}

#user-menu-topics{
  display: none;
  width: 175%;
  position: absolute;
  border: solid 1px #A4A4A4;
  padding: 10px;
  background-color: white;
  z-index: 9;
}

#more-articles, #more-stories, #more-stocks{
  padding: 0;
  margin :5px auto;
  width :100%;
  font-size: 16px;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

#sub-content, #sub-content-hide{
  position: relative;
  display: none;
}


#sub-content-show, #sub-content-hide{
  &:hover {
    cursor: pointer;
  }
}

/* 特殊リンク */

.category-tag{
  padding: 3px;
  border-radius: 6px;
  border: 1px solid #CAD8F3;
  background: none;
  background-color: #DEE7F8;
  font-weight: normal;
}

/* フラッシュメッセージ */

#flash{
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 0;
  line-height: 48px;
  height: 48px;
  position: absolute;
  float: left;
  color: white;
  text-align: center;
  z-index: 10;
  opacity: 0.8;
}

.success {
  background-color: #58ACFA;
}

.alert {
  background-color: red;
}

.alert-devise h2{
  color: red;
  font-weight: bold;
  font-size: 15px;
}

.alert-devise li{
  color: red;
  font-size: 15px;
  display: block;
  width: 100%;
  padding: 0;
}

/* レスポンシブ */

@media screen and (max-width:991px){
  #content-right{
    display: none;
  }

  html, body {
    height: 100%;
  }

  header{
    text-align: center;
    height: auto;
  }

  h3{
    font-size: 16px;
  }

  .container{
    height: 75%;
  }

  .header-logo, .header-search, .header-nav{
    float: none;
  }

  .header-logo{
    height: auto;
    line-height: 24px;
    font-size: 24px;
  }

  .header-search{
    margin: 4px 0;
  }

  .header-nav-icon{
    float: left;
    width: 16px;
    height: 16px;
    margin: 0 4px;
  }

  .header-nav-text{
    float:left;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .row, .content-area, .content-box{
    height: 100%;
  }

  .content-box-head{
    font-size: 20px;
    padding: 4px;
  }

}
