/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 60px;
  padding: 5px 20px;
  border-bottom: solid 1px #D8D8D8;
  margin-bottom: 20px;
}

.header-logo{
  float: left;
  margin: 0;
  font-family: "economica","Meiryo","ヒラギノ角ゴ","sans-serif";
  color: white;
  background-color: #0B6138;
  line-height: 50px
}

.header-nav{
  float: right;
}

.header-nav-list{
  float: left;
  margin-right: 30px;
}

.header-nav-list:last-child{
  margin-right: 0;
}

.header-nav-icon{
  float: left;
  margin: 5px 10px;
}

.header-nav-text{
  float:left;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

.content-area{
  padding: 0 10px;
}

.content-box{
  padding: 20px;
  height: 725px;
  border: solid 1px #D8D8D8;
  overflow: scroll;
  position: relative;
  box-shadow: 5px 5px 10px #A4A4A4;
}

.content-box-head{
  width: 100%;
  text-align: center;
}

.content-box-body{
  margin: 0 auto;
  height: 575px;
  overflow: scroll;
}

.content-box-foot{
  position: absolute;
  bottom: 5px;
  margin: 0 auto;
}

.body-textarea{
  width: 100%;
  height: 240px;
}

