// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.code{
  border-radius: 5px;
  background-color: #0B614B;
  color: #F7F2E0;
  padding: 10px;
  margin: 10px 10px;
}

.story-lists{

}

.story-list, .comment-list{
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px #BDBDBD;
}

.story-list:hover, .comment-list:hover{
  background-color: #FAFAFA;
}

.story-list:last-child, .comment-list:last-child{
  width: 100%;
  border-bottom: none;
}

#comment-flash > #flash{
  width: 91%;
}

.comment-user-thumb{
  float: left;
  margin: 6px;
}

.comment-user-text{
  float: left;
  width: 70%;
}

.comment-user-name{
  font-weight: bold;
}

.story-list-user-thumb{
  float: left;
}