<div class="container">
  <div class="row">

    <div class="content-area col-md-6 col-xs-12">
      <div class ="content-box">
        <h2 class="content-box-head">タグ：<%= @category.name %>を含むエラー記事</h2>
        <div class="content-box-body article-lists">
          <%= render '/articles/article_list', articles: @category.articles %>
        </div>
        <div class="content-box-foot">
          <div class="btn"></div>
        </div>
      </div>
    </div>

    <div class="content-area col-md-6 col-xs-12">
      <div class ="content-box">
        <h2 class ="content-box-head">タグ：<%= @category.name %>を含むストーリー</h2>
        <div class="content-box-body story-lists">
          <%= render '/stories/story_list', stories: @category.stories %>
        </div>

      </div>
    </div>

  </div>
</div>