<% if model.errors.any? %>
  <% model.errors.full_messages.each do |errmsg| %>
    <div class="alert alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">close</span>
      </button>
      <%= errmsg %>
    </div>
  <% end %>
<% end %>